In [1]:
s = "Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

In [2]:
planet = "Earth"
diameter = 12742
print("The diameter of {}".format(planet),"is {} kilometers.".format(diameter))

The diameter of Earth is 12742 kilometers.

In [3]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

In [4]:
import numpy as np

In [5]:
array=np.zeros(10)
array=np.ones(10)*5

In [6]:
array=np.arange(20,35,2)

In [7]:
matrix =  np.arange(0, 9).reshape(3,3)

In [8]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
np.concatenate((a, b), axis=0)

array([1, 2, 3, 4, 5, 6])

In [9]:
import pandas as pd

In [10]:
key=['a','b','c']
data=[1,2,3]
df=pd.DataFrame(data,key,columns=['data'])
df

   data
a     1
b     2
c     3

In [11]:
import datetime
import pandas as pd
start = datetime.datetime.strptime("01-01-2023", "%d-%m-%Y")
end = datetime.datetime.strptime("10-02-2023", "%d-%m-%Y")
df = pd.date_range(start, end)
print(df.strftime("%d-%m-%Y"))

Index(['01-01-2023', '02-01-2023', '03-01-2023', '04-01-2023', '05-01-2023',
       '06-01-2023', '07-01-2023', '08-01-2023', '09-01-2023', '10-01-2023',
       '11-01-2023', '12-01-2023', '13-01-2023', '14-01-2023', '15-01-2023',
       '16-01-2023', '17-01-2023', '18-01-2023', '19-01-2023', '20-01-2023',
       '21-01-2023', '22-01-2023', '23-01-2023', '24-01-2023', '25-01-2023',
       '26-01-2023', '27-01-2023', '28-01-2023', '29-01-2023', '30-01-2023',
       '31-01-2023', '01-02-2023', '02-02-2023', '03-02-2023', '04-02-2023',
       '05-02-2023', '06-02-2023', '07-02-2023', '08-02-2023', '09-02-2023',
       '10-02-2023'],
      dtype='object')

In [12]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
df=pd.DataFrame(lists)
df

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24